@font-face {
    font-family: 'MontserratRegular';
    src: url(../fonts/Montserrat-Regular.ttf) format ('ttf');
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf) format ('ttf');
}
